* {
    color: white;
    background-color: rgb(17, 17, 17);
    font-family:'Courier New', Courier, monospace;
    font-size: 34px;
    padding: 0;
    margin: 0;
}

p {
    color: rgba(12, 248, 248, 0.778);
    text-align: center;
}

.box-one {
    background-color: red;
    padding: 10px;
    margin: 10px;
    height: 100px;
    width: 200px;
    border: 10px solid brown;
    box-sizing: border-box;
    display: inline;
}

.box-two {
    display: inline;
    background-color: blue;
    border: 10px solid white;
    margin: 20px;
}
