.nav-box {
    display: flex;
    padding: 10px;
    width: 100%;
    background-color: aliceblue;
    justify-content: flex-end;
    gap: 20px;
}

.home {
    margin-right: auto;
}
.links {
    /* text-decoration: solid; */
    
    color: black;
    font-size: 20px;
}
















.flex-container > * {
    border: 1px solid;
    background-color: peachpuff;
    /* height: 100px;   */
    /* flex: 1 1 0;  */
    /* outline: 2px solid red; */
    /* width: 100px; */
    /* flex: 1 1 0; */
    /* align-items: center; */

}

/* 
.three > * {
    flex-direction: column; 
    margin-left: 10px;
     flex: 1 2 0;
    height: 40px;
    flex-basis: 20px;
     height: 40px;
 } */
  /* .one {
    background-color: red;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 10px;
    border: 1px solid darkred;

} */

.one {

    width: 60pxx;
    height: 40px;
    /* flex: 1 0 auto; */
    flex-shrink: 0;
}

.flex-container{
    /* column-gap: 20px;
     */
    row-gap: 10px;
    background-color: lightblue;
    width: 300px;
    flex-wrap: wrap;
    height: auto;
    gap: 10px;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: flex-start;

    /* align-items: flex-start; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}