.flex-container > * {
    background-color: peachpuff;
    height: 100px;  
    flex: 1 1 0; 
    /* outline: 2px solid red; */
    /* width: 100px; */
    /* flex: 1 1 0; */
    /* align-items: center; */


}
.three > * {
    /* flex-direction: column; */
    /* margin-left: 10px; */
    /* flex: 1 2 0; */
    height: 40px;
    flex-basis: 20px;
    /* height: 40px; */
}

.three {
    background-color: red;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 10px;
    border: 1px solid darkred;

}


.flex-container{
    background-color: lightblue;
    width: 1200px;
    gap: 1rem;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;

    /* align-items: center; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}