.nav-box {
    display: flex;
    padding: 10px;
    width: 100%;
    background-color: aliceblue;
    justify-content: flex-end;
    gap: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.392);
}


.links.home {
    font-size: 35px;
    font-weight: bold;
    margin-right: auto;
}
.links {
    align-content: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px;

}
a:hover {
    
    border: 1px solid darkblue;

}


.flex-container > * {
    border: 1px solid;
    background-color: peachpuff;
    /* height: 100px;   */
    /* flex: 1 1 0;  */
    /* outline: 2px solid red; */
    /* width: 100px; */
    /* flex: 1 1 0; */
    /* align-items: center; */

}


.one {

    width: 90px;
    height: 80px;
    /* flex: 1 0 auto; */
    flex-shrink: 0;
}

.flex-container{
    /* column-gap: 20px;
     */
    margin-top: 20px;
    background-color: lightblue;
    width: 60%;
    flex-wrap: wrap;
    height: auto;
    gap: 10px;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    /* align-items: flex-start; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
.three > * {
    flex-direction: column; 
    margin-left: 10px;
     flex: 1 2 0;
    height: 40px;
    flex-basis: 20px;
     height: 40px;
 } */
  /* .one {
    background-color: red;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 10px;
    border: 1px solid darkred;

} */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
}

.header {
  font-weight: bold;
  font-size: 18px;
}
body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background: #aaa;
  color: #333;
  /* I'll give you this one for free lol */
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal > * {
  flex-shrink: 0;
}
.modal {
  display: flex;
  background: white;
  width: 480px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
  gap: 12px;
  padding: 15px;
}
.block-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 1;
  gap: 14px;
  
  }
  .upper-line{
    display: flex;
    justify-content: space-between;
  }
.icon {
  color: royalblue;
  font-size: 26px;
  font-weight: 700;
  background: lavender;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-right: auto;
  justify-content: center;
}

.close-button {
  background: #eee;
  border-radius: 50%;
  color: #888;
  font-weight: 400;
  font-size: 16px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  padding: 0;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
}

button.continue {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
}

button.cancel {
  background: white;
  border: 1px solid #ddd;
  color: royalblue;
}