.flex-container div {
    background-color: peachpuff;
    height: 100px;   
    outline: 2px solid red;
    width: 100px;
    /* flex: 1; */
}
.three div {
    flex-direction: column;
    margin-left: 10px;
}
.three {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 5px;
}
.flex-container{
    background-color: lightblue;
    width: 800px;
    text-align: center;
    justify-content: space-between;
    padding: 10px;
    display: flex;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}